section#settingsModule.module.container.px-5
  .jumbotron.bg-transparent.pb-0
    h1.display-4.text-center Settings
  .px-5.mt-5
    .row
      .col-4
        label Theme
        select#themeSelect.form-control
          option(value='ASCETIC', selected) Ascetic (Default)
          option(value='DISCORD') Discord