<<<<<<< HEAD
form(action='/servers/' + guild.id + '/autoMod?_method=PUT', method='POST')
  section#autoModModule.module.container.px-5
    .jumbotron.bg-transparent.pb-0
      h1.display-3.text-center Auto Mod
    .form-group.mt-5
      p Nothing here yet...
=======
section#autoModModule.module.container.px-5
  .jumbotron.bg-transparent.pb-0
    h1.display-4.text-center Auto-mod
  .form-group.mt-5
    .row
>>>>>>> 27d66cce7102f93d5181ee8bf4521f4a7431ba34
